*,*:before,*:after{
    box-sizing:border-box
}
body{
    font-size:100%;
    line-height:1.6
}
@media (min-width: 20em){
    body{
        font-size:102.5%
    }
}
@media (min-width: 30em){
    body{
        font-size:105%
    }
}
@media (min-width: 54em){
    body{
        font-size:107.5%
    }
}
@media (min-width: 64em){
    body{
        font-size:110%
    }
}
@media (min-width: 76.5em){
    body{
        font-size:115%
    }
}
@media (min-width: 114em){
    body{
        font-size:125%
    }
}
h1,h2{
    margin:0;
}
@media (min-width: 54em){
    h1{
        font-size:3em
    }
}
@media (min-width: 76.5em){
    h1{
        font-size:3.5em
    }
}
p{
    margin:0 0 0.75em
}
a{
    color:#0a0a0a;
    text-decoration:none;
    transition:color 0.4s ease-in-out
}
a:hover,a:active,a:focus{
    color:#9f8f68
}
figure{
    margin:0
}
img{
    display:block;
    width:100%;
    max-width:100%
}
ol,ul{
    margin:0;
    padding:0;
    list-style-type:none
}
::selection{
    color:#fff;
    background-color:#9f8f68;
    text-shadow:none
}
.tabs,.previews__container span,.preview__more,.card__more,.pagination,.footer__archive,.nav,.next__container span,.archives__header{
    font-family:"Space Mono",monospace;
    letter-spacing:0.05em;
    text-transform:uppercase
}
.previews>:first-child:after,.card__img:after,.mast:after,.profile__img:after,.next__link:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(10,10,10,0.2);
    transition:background-color 0.4s ease-in-out
}
body{
    background-color:#f8f9f9
}
section{
    position:relative
}
.section-padding{
    padding:4em 0
}
.section-padding--lg{
    padding:6em 0
}
.section-padding--sm{
    padding:2em 0
}
[class*='__container']{
    position:relative;
    z-index:1
}
@media (max-width: 54em){
    .previews{
        display:flex;
        flex-direction:column
    }
}
.previews>*:first-child{
    position:relative;
    height:30em;
    background-color:#0a0a0a
}
@media (min-width: 54em){
    .previews>*:first-child{
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width:45%
    }
}
.previews>*:last-child{
    min-height:100vh
}
@media (min-width: 54em){
    .previews>*:last-child{
        margin-left:45%
    }
}
.tabs{
    display:flex;
    justify-content:space-around;
    padding:1em
}
@media (min-width: 54em){
    .tabs{
        padding-left:8em;
        padding-right:8em
    }
}
@media (min-width: 114em){
    .tabs{
        padding-left:10em;
        padding-right:10em
    }
}
.tabs__item{
    cursor:pointer
}
.tabs__item:not(.active){
    position:relative;
    color:#0a0a0a
}
.tabs__item:not(.active):after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    border-bottom:3px solid #9f8f68;
    transition:width 0.4s ease-in-out
}
.tabs__item:not(.active):hover:after{
    width:100%
}
.tabs__item.active{
    border-bottom:3px solid #9f8f68
}
.tab.active{
    will-change:opacity;
    animation:fade-in 1s both
}
.previews__container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
    padding:2em;
    color:#fff
}
.previews__container span{
    font-family:"Inconsolata",monospace
}
.preview{
    transition:background-color 0.2s ease-in-out
}
.preview:nth-child(even){
    background-color:#fff
}
.preview:hover{
    background-color:#f5f3ef
}
.preview:hover .preview__more{
    box-shadow:inset 175px 0 0 0 #9f8f68;
    color:#fff
}
.preview__img{
    will-change:opacity;
    animation:fade-in 1s both
}
.preview__link{
    display:block;
    padding:2em 1em
}
@media (min-width: 54em){
    .preview__link{
        padding:4em 8em
    }
}
@media (min-width: 114em){
    .preview__link{
        padding-left:10em;
        padding-right:10em
    }
}
.preview__date{
    font-family:"Space Mono",monospace;
    color:#0a0a0a
}
.preview__header{
    color:#9f8f68;
    margin-bottom:0.5em
}
.preview__excerpt{
    color:#0a0a0a
}
.preview__more{
    display:inline-block;
    padding:.5em;
    font-family:"Space Mono",monospace;
    color:#9f8f68;
    border:3px solid #9f8f68;
    box-shadow:inset 0 0 0 0 #9f8f68;
    transition:all 0.4s ease-in-out
}
.cards{
    display:flex;
    flex-direction:row;
    flex-flow:wrap;
    padding:2em 1em
}
.cards>*{
    padding:.25em;
    flex-basis:100%;
    max-width:100%
}
@media (min-width: 54em){
    .cards>*{
        flex-basis:50%;
        max-width:50%
    }
}
@media (min-width: 114em){
    .cards>*{
        flex-basis:33.3333333333%;
        max-width:33.3333333333%
    }
}
@media (min-width: 54em){
    .cards{
        padding:4em 2em
    }
}
.card__link{
    box-shadow:0 1px 2px rgba(10,10,10,0.1),0 1px 2px rgba(10,10,10,0.2);
    position:relative;
    display:block;
    background-color:#fff;
    transition:background-color 0.2s ease-in-out
}
.card__link:after{
    box-shadow:0 3px 6px rgba(10,10,10,0.1),0 3px 6px rgba(10,10,10,0.2);
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    will-change:opacity;
    transition:opacity 0.4s ease-in-out
}
.card__link:hover{
    background-color:#f5f3ef
}
.card__link:hover:after{
    opacity:1
}
.card__link:hover .card__more{
    box-shadow:inset 175px 0 0 0 #9f8f68;
    color:#fff
}
.card__img{
    position:relative;
    height:12em;
    background-color:#0a0a0a
}
.card__container{
    padding:2em 1em
}
.card__header{
    color:#9f8f68
}
.card__count{
    color:#0a0a0a
}
.card__more{
    display:inline-block;
    padding:.25em;
    font-family:"Space Mono",monospace;
    color:#9f8f68;
    border:3px solid #9f8f68;
    box-shadow:inset 0 0 0 0 #9f8f68;
    transition:all 0.4s ease-in-out
}
.pagination{
    display:flex;
    width:100%
}
.pagination>*{
    display:flex;
    justify-content:center;
    flex:1;
    padding:2em 0;
    color:#fff;
    background-color:#0a0a0a;
    transition:background-color 0.4s ease-in-out
}
.pagination>*:hover{
    color:#fff;
    background-color:#9f8f68
}
.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding-left:2em;
    padding-right:2em
}
@media (min-width: 30em){
    .footer{
        flex-direction:row
    }
}
.footer__archive{
    position:relative;
    color:#0a0a0a
}
.footer__archive:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    border-bottom:3px solid #9f8f68;
    transition:width 0.4s ease-in-out
}
.footer__archive:hover:after{
    width:100%
}
.footer__social{
    display:flex;
    margin-top:1em
}
@media (min-width: 30em){
    .footer__social{
        margin-top:0
    }
}
.footer__social>*:not(:last-child){
    margin-right:1em
}
.mast{
    position:relative;
    height:35em;
    color:#fff;
    background-color:#0a0a0a
}
.mast__img{
    animation:fade-in 2s both
}
.mast__container{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:100%;
    width:90%;
    margin:0 auto
}
.mast h1{
    line-height:1.2
}
.nav{
    position:absolute;
    top:1.25em;
    left:1em;
    z-index:99;
    display:flex;
    align-items:center;
    font-family:"Inconsolata",monospace
}
@media (min-width: 30em){
    .nav{
        left:2em
    }
}
@media (min-width: 30em){
    .nav i{
        margin-right:0.5em
    }
}
.nav span{
    display:none
}
@media (min-width: 30em){
    .nav span{
        display:block
    }
}
.nav--black{
    color:#0a0a0a
}
.nav--black:hover,.nav--black:active,.nav--black:focus{
    color:#0a0a0a
}
.nav--white{
    color:#fff
}
.nav--white:hover,.nav--white:active,.nav--white:focus{
    color:#fff
}
.post{
    width:90%;
    max-width:54em;
    margin:0 auto;
    font-family:"Lora",serif
}
@media (min-width: 54em){
    .post{
        width:40%
    }
}
.post h1,.post h2{
    line-height:1.2
}
.post h1,.post h2,.post h3,.post h4,.post h5,.post h6{
    margin-bottom:0.75em
}
.post p:first-child{
    font-size:1.25em
}
.post a{
    border-bottom:1px solid #9f8f68
}
.post figure{
    padding-bottom:0.75em
}
.post figure>img{
    padding-bottom:0
}
.profile{
    width:90%;
    max-width:54em;
    margin:0 auto;
    padding-bottom:4em
}
@media (min-width: 64em){
    .profile{
        width:55%
    }
}
.profile__card{
    box-shadow:0 1px 2px rgba(10,10,10,0.1),0 1px 2px rgba(10,10,10,0.2);
    display:flex;
    flex-direction:column
}
@media (min-width: 54em){
    .profile__card{
        flex-direction:row
    }
}
.profile__img{
    position:relative;
    min-height:15em;
    background-color:#0a0a0a
}
@media (min-width: 54em){
    .profile__img{
        flex-basis:45%;
        max-width:45%
    }
}
.profile__container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1em;
    background-color:#fff
}
@media (min-width: 54em){
    .profile__container{
        flex-basis:55%;
        max-width:55%
    }
}
.profile__social{
    display:flex;
    justify-content:flex-end
}
.profile__social>*:not(:last-child){
    margin-right:1em
}
.next{
    background-color:#0a0a0a
}
.next__link{
    display:block;
    height:25em;
    padding:6em 0;
    color:#fff;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50%
}
.next__link:hover{
    color:#fff
}
.next__link:hover:after{
    background-color:rgba(159,143,104,0.8)
}
.next__container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    text-align:center
}
.next__container span{
    font-family:"Inconsolata",monospace
}
.archives__header{
    padding:1em;
    text-align:center
}
.archives__header span{
    border-bottom:3px solid #9f8f68
}
.archives__container{
    display:flex;
    flex-direction:row;
    flex-flow:wrap;
    max-width:76.5em;
    margin:0 auto;
    padding-left:1em;
    padding-right:1em
}
.archives__container>*{
    padding:.25em;
    flex-basis:100%;
    max-width:100%
}
@media (min-width: 54em){
    .archives__container>*{
        flex-basis:50%;
        max-width:50%
    }
}
@media (min-width: 64em){
    .archives__container>*{
        flex-basis:33.3333333333%;
        max-width:33.3333333333%
    }
}
@media (min-width: 114em){
    .archives__container>*{
        flex-basis:25%;
        max-width:25%
    }
}
@keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
.fade-in{
    will-change:opacity;
    animation:fade-in 2s both
}
.highlight{
    background-color:#efefef;
    font-family:'source-code-pro', monospace;
    color:#333332;
    margin-bottom:1.5em;
    border-radius:3px
}
.highlight pre{
    position:relative;
    margin:0;
    padding:1em
}
.highlight .lineno{
    padding-right:24px;
    color:#b3b3b1
}
.highlight .hll{
    background-color:#ffc
}
.highlight .c{
    color:#999988;
    font-style:italic
}
.highlight .err{
    color:#a61717;
    background-color:#e3d2d2
}
.highlight .k{
    color:#000000;
    font-weight:bold
}
.highlight .o{
    color:#000000;
    font-weight:bold
}
.highlight .cm{
    color:#999988;
    font-style:italic
}
.highlight .cp{
    color:#999999;
    font-weight:bold;
    font-style:italic
}
.highlight .c1{
    color:#999988;
    font-style:italic
}
.highlight .cs{
    color:#999999;
    font-weight:bold;
    font-style:italic
}
.highlight .gd{
    color:#000000;
    background-color:#fdd
}
.highlight .ge{
    color:#000000;
    font-style:italic
}
.highlight .gr{
    color:#a00
}
.highlight .gh{
    color:#999
}
.highlight .gi{
    color:#000000;
    background-color:#dfd
}
.highlight .go{
    color:#888
}
.highlight .gp{
    color:#555
}
.highlight .gs{
    font-weight:bold
}
.highlight .gu{
    color:#aaa
}
.highlight .gt{
    color:#a00
}
.highlight .kc{
    color:#000000;
    font-weight:bold
}
.highlight .kd{
    color:#000000;
    font-weight:bold
}
.highlight .kn{
    color:#000000;
    font-weight:bold
}
.highlight .kp{
    color:#000000;
    font-weight:bold
}
.highlight .kr{
    color:#000000;
    font-weight:bold
}
.highlight .kt{
    color:#445588;
    font-weight:bold
}
.highlight .m{
    color:#099
}
.highlight .s{
    color:#d01040
}
.highlight .na{
    color:teal
}
.highlight .nb{
    color:#0086B3
}
.highlight .nc{
    color:#445588;
    font-weight:bold
}
.highlight .no{
    color:teal
}
.highlight .nd{
    color:#3c5d5d;
    font-weight:bold
}
.highlight .ni{
    color:purple
}
.highlight .ne{
    color:#990000;
    font-weight:bold
}
.highlight .nf{
    color:#990000;
    font-weight:bold
}
.highlight .nl{
    color:#990000;
    font-weight:bold
}
.highlight .nn{
    color:#555
}
.highlight .nt{
    color:navy
}
.highlight .nv{
    color:teal
}
.highlight .ow{
    color:#000000;
    font-weight:bold
}
.highlight .w{
    color:#bbb
}
.highlight .mf{
    color:#099
}
.highlight .mh{
    color:#099
}
.highlight .mi{
    color:#099
}
.highlight .mo{
    color:#099
}
.highlight .sb{
    color:#d01040
}
.highlight .sc{
    color:#d01040
}
.highlight .sd{
    color:#d01040
}
.highlight .s2{
    color:#d01040
}
.highlight .se{
    color:#d01040
}
.highlight .sh{
    color:#d01040
}
.highlight .si{
    color:#d01040
}
.highlight .sx{
    color:#d01040
}
.highlight .sr{
    color:#009926
}
.highlight .s1{
    color:#d01040
}
.highlight .ss{
    color:#990073
}
.highlight .bp{
    color:#999
}
.highlight .vc{
    color:teal
}
.highlight .vg{
    color:teal
}
.highlight .vi{
    color:teal
}
.highlight .il{
    color:#099
}
.absolute-bg{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50%
}
.bg-black{
    background-color:#0a0a0a;
}
.bg-white{
    background-color:#fff;
}
pre{
    overflow-x:auto;
    background-color: rgba(27,31,35,.05) !important;
}
